* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 1150px) {
    #mainphoto img {
        width: 95vw !important;
        height: fit-content !important;
    }
}

@page: first {
    margin-left: 5cm;
}

body {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, 
    #ff6347,   
    #ffa07a,   
    #ffd700,   
    #9acd32,   
    #00bfff,  
    #1e90ff);  
    color: rgb(69, 3, 108);
}


main {
    flex: 1;
}

#form {
    background-color: #ff74c3;
    background-image: url('https://cdni.iconscout.com/illustration/premium/thumb/parthenon-athens-3547597-2975172.png');
    background-attachment: fixed;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.menu {
    top: 0px;
    position: fixed;
    width: 100%;
    color: black;
    z-index: 10;
}

.menu a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    background-color: #e41088;
    width: 200px;
    border: 1px solid #ff38a9;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: #fff;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.menu ul li:hover {
    background-color:#ff74c3;
}

.menu ul a:hover {
    color: rgb(241, 2, 2);
}

.menu ul ul,
.submenu ul {
    display: none;
}

.menu ul ul ul {
    margin-left: 200px;
    top: 0;
    position: absolute;
}

.submenu ul li {
    background-color: rgb(171, 13, 196);
    width: 200px;
    border: 1px solid #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: #fff;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.submenu ul li:hover {
    background-color: rgb(231, 160, 254);
}

.menu ul li:hover>ul {
    display: block;
}

h1 {
    font-variant: small-caps;
    font-size: 40pt;
    margin: 10px 5px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

p {
    text-align: justify;
    margin: 5px 15px;
    font-size: 15px;

}

h2 {
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1cm;
    margin: 10px;
    color: #e41088;
    text-align: center;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    font-weight: 900;
    margin: 1.5%;
}

a {
    color: #9104cd;
}

a:visited {
    color: rgb(58, 0, 66);

}

a:active {
    color: rgb(0, 81, 255);
}

a:link {
    color: rgb(188, 5, 5);
}

summary {
    margin: 20px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#places-list li {
    margin-left: 10%;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

#athenians-list li {
    margin-left: 5%;
    list-style-type: square;
    font-family: Arial, Helvetica, sans-serif
}

.article {
    background-color: rgba(230, 174, 205, 0.93);
    border: 4px solid #db00b7;
    margin: 50px;
    border-radius: 10px;
    padding: 30px;

}

.semitransparent {
    background-color: rgba(230, 174, 205, 0.93);
    margin: 50px;
    padding: 30px;
}

img {
    width: 50%;
    height: 35%;
}

#mainphoto {
    text-align: center;
}

#mainphoto img {
    width: 70em;
    height: fit-content;
    border: 8px dotted;
    border-radius: 80%;
}

.border-container {
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-width: 8px;
    border-color: #ee073d;
    border-style: double;
    background-color: white;
}

.image-container {
    text-align: center;
}

.image-container img {
    display: inline-block;
    border-radius: 10pt;
}

table,
th,
td {
    position: static;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

tr:nth-child(even):not(#numbers tr) {
    background-color: beige;
}

table:only-child {
    border-width: 5px;
    border-style: dotted;
    border-color: rgb(80, 197, 251);
}

#geographic td {
    padding: 1rem;
}

#geographic tr:nth-child(2) {
    height: 5em;
    vertical-align: bottom;
}

#administrative {
    position: relative;
    top: 6.2em;
    left: 27em;
    border-collapse: collapse;
}

#administrative tr>th {
    color: blue;
}

#administrative td:not(:first-child) {
    text-align: right;
}

#numbers th, #numbers td {
    border: none;
}

#numbers th:first-child,
#numbers td:nth-last-child(2) {
    background-color: rgb(0, 212, 250);
}

#miscellaneous {
    position: relative;
    bottom: 23em;
    left: 27em;
    border-spacing: 5px;
}

#miscellaneous tr:last-of-type {
    background-color: rgb(3, 234, 38) !important;
}

:target:not(header) {
    background-color: rgba(255, 255, 0, 0.7);
}

.main-margin {
    margin: 30px;
}

#quiz-questions input:focus,
#quiz-questions select:focus,
#quiz-questions input:checked+label,
#quiz-questions input:hover+label {
    background-color: rgba(255, 255, 0, 0.7);
}

#quiz-questions input:empty:not(input[type="submit"], input[type="reset"]) {
    background-color: rgba(128, 128, 128, 0.5) !important;
}

#quiz-answers details:last-child {
    border: 5px dotted red;
}

#quiz-answers img {
    float: left;
    margin-bottom: 1em;
    margin-right: 1em;
}

#float-separator,
#quiz-answers aside {
    clear: left;
}

.personal-form input:disabled {
    background-color: rgba(128, 128, 128, 0.5);
}

#personal-form-aux input:enabled:not(input[type="submit"], input[type="reset"], input[type="button"]) {
    background-color: rgba(0, 128, 0, 0.5);
}

ol {
    position: relative;
    right: 4em;
}

button {
    background-color: #fa6cff;
    color: black;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 50px;
    width: 200px;    
}

.element-button {
    height: fit-content;
    width: fit-content;
}

#image { 
    padding: 20px;
    margin: 10px;
    border-radius: 20%;
    width: 600px;
    height: 380px;
}

.zoomable {
    transition: transform 0.3s ease-in-out;
}

.zoomable:hover {
    cursor: zoom-in;
    filter: brightness(90%);
  }

.zoomed {
    transform: scale(1.5);
}


#drawingCanvas {
    position: relative;
    background-color: white;
    border: 1px solid #000;
    margin: 25px;
  }

.invalid {
    border-color: red;
}

.error {
    color: red;
    font-size: small;
}

.hint {
    color: gray;
    font-size: small;
}