<header th:fragment="menu">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Store</a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a th:href="@{/user/productView}">Products View</a>
                </li>
                <li>
                    <a href="/user/cart">Cart</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">


                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>