<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{_shared/_layout}">

<title layout:fragment="title">Edit product</title>

<div layout:fragment="content">
    <h1>Edit the product</h1>
    <form action="#" th:action="@{/admin/product/edit}" th:object="${product}" method="post">
        <label for="id" class="form-label">Id</label>
        <input type="text" class="form-control" disabled id="id" th:field="*{id}"/>
        <input type="hidden" th:field="*{id}"/>
        <br>
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" th:field="*{name}"/>
        <br>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        <label for="weight" class="form-label">Weight</label>
        <input type="number" class="form-control" id="weight" step="any" th:field="*{weight}"/>
        <br>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></p>
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" step="any" th:field="*{price}"/>
        <br>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
        <label for="category" class="form-label">Category</label>
        <select class="form-select" id="category" th:field="*{category}">
            <option value="">---</option>
            <option th:each="category : ${categories}" 
                    th:value="${category.id}" 
                    th:text="${category.name}">
            </option>
        </select>
        <br><br>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></p>
        <div th:if="${error}">
            <p class="alert alert-danger" th:text="${error}"></p>
        </div>
        <input type="submit" class="btn btn-success" value="Modify"/> 
        <input type="reset" class="btn btn-danger" value="Reset"/>
    </form>
</div>

</html>