<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="_shared/_layout">

<title layout:fragment="title">Add new product</title>

<div layout:fragment="content">
    <h1>Add a new product</h1>
    <form action="#" th:action="@{/product/add}" th:object="${product}" method="post">
        <p>Id: <input type="text" th:field="*{id}" /></p>
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Weight: <input type="number" step="any" th:field="*{weight}" /></p>
        <p>Price: <input type="number" step="any" th:field="*{price}" /></p>
        <p>Category: <input type="text" th:field="*{category}" /></p>
        <p><input type="submit" value="Add" /> <input type="reset" value="Reset" /></p>
    </form>

    <div th:if="${error}">
        <p>Error: <span th:text="${error}"></span></p>
    </div>
</div>>



</html>